/* Not required to include in your project, only for example.html demo */
* {
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

audio {
  border-radius: 0;
  height: 40px;
}

button {
  border: solid 1px #1D1E25;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 15px;
  padding: 5px 15px;
}

button[disabled] {
  border-color: grey;
  color: grey;
  cursor: not-allowed;
}

nav {
  align-items: center;
  background-color: #181818;
  border-bottom: solid 1px grey;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
}

nav a {
  cursor: pointer;
  fill: white;
  height: 80%;
  position: absolute;
  right: 10px;
  transition: fill 0.4s;
}
nav a:active, nav a:focus, nav a:hover {
  fill: #56D45B;
}
nav a h1 {
  margin: 0;
  padding-left: 10px;
}

nav a.about {
  left: 10px;
  height: 80%;
  position: absolute;
}

nav a.about img {
  height: 100%;
}

audio {
  position: fixed;
  right: 0;
  bottom: 0;
}

.demo-change-src {
  position: fixed;
  right: 300px;
  bottom: 0;
  height: 30px;
}

.demo-current-src {
  position: fixed;
  right: 450px;
  bottom: 0;
  line-height: 40px;
  height: 40px;
  margin: 0;
}

.view-switcher {
  align-items: center;
  border-bottom: solid 1px grey;
  display: flex;
  height: 30px;
  justify-content: center;
  position: absolute;
  top: 40px;
  width: 100%;
}

.view-switcher .entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 10px;
}

.view-switcher .entry p {
  color: #1D1E25;
  margin: 0;
  transition: color 0.4s;
}

.view-switcher .entry.selected p {
  color: #56D45B;
}

.view-switcher button {
  background: none;
  border: none;
  cursor: pointer;
  height: 80%;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
}

.view-container {
  align-items: flex-start;
  bottom: 0;
  display: flex;
  height: calc(100% - 70px);
  justify-content: center;
  padding: 40px;
  position: absolute;
  width: 100%;
}

.view {
  height: calc(100% - 30px);
  width: 100%;
}

.add-hot-cue {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 130px;
}

.remove-hot-cue {
  position: absolute;
  left: 140px;
  bottom: 0;
  height: 30px;
  width: 130px;
}

.loop-entry {
  position: absolute;
  left: 280px;
  bottom: 0;
  height: 30px;
  width: 130px;
}

.loop-end {
  position: absolute;
  left: 420px;
  bottom: 0;
  height: 30px;
  width: 130px;
}

.loop-exit {
  position: absolute;
  left: 560px;
  bottom: 0;
  height: 30px;
  width: 130px;
}
